body {
  font-family: sans-serif;
}

.cuddle {
  background-image: linear-gradient(#00000080, #00000080), url("/asset/styles/images/coplejpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cdl {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff4f4;
  font-size: 30px;
  display: block;
}

.kissing {
  background-color: #d5a4a4;
  color: #000;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  flex: 50%;
  text-align: center;
  height: 100vh;
  position: relative;
}

@media (max-width: 768px) {
  .kissing {
    flex-direction: column;
  }
}

.sde {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border-radius: 1%;
}

.top1 {
  text-align: center;
}

.dov {
  font-style: italic;
  text-align: center;
}

.det {
  margin: 1%;
  width: 10%;
  height: 5vh;
  font-size: large;
  background-color: #000;
  color: white;
  border: 1px black;
}

.det:hover {
  background-color: #fbf9f9;
  color: #201e1e;
  border: 1px solid #000;
}

.flow {
  background-image:  linear-gradient(#00000080),
    url("/asset/styles/images/beautiful-bouquet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bq {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff4f4;
  font-size: 30px;
  display: block;
}

.dd {
  text-align: center;
  color: #1d4d4d;
}

.chair {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: large;
}

.hall {
  background-color: #dec9c9;
  display: flex;
  flex-direction: column;
}

.satz {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}

.try {
  margin: 1%;
  width: 130px;
  height: 7vh;
  background-color: #d47272;
  color: white;
  border: 1px black;
  align-items: center;
  font-size: 1.7rem;
  border-radius: 1%;
}

.ende {
  background-color: #bb8c8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33vh;
}

.poer {
  font-style: oblique;
  text-align: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: #fbf9f9;
}

.try:hover {
  background-color: #fbf9f9;
  color: #323030;
  border: #000;
}
